.imageContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 box-sizing: border-box;
 margin: 0;
 padding: 10px;
 
}

.form{
  display: flex;
  flex-direction: column;
  place-items: center;
  justify-content: center;
  width: 600px;
  height: 400px;
  background-color: rgb(241, 240, 240);
  border-radius: 10px;
}

.uploadBox{
  
}

.submitBtn{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.secondHeading{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 40px;
}
/* .input[type="file"]{
  display: none;
}  */

.icon{
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}